/* Contact.module.css */

.contactSection {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1240px;
    margin: auto;
    padding: 2rem;
}

.title {
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5651e5;
}

.heading {
    padding: 1rem 0;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Default to single column */
    gap: 2rem;
}

/* Media Query for larger screens */
@media (min-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(5, 1fr); /* Switch to 5 columns */
    }

    .leftColumn {
        grid-column: span 2; /* Left column spans 2 columns */
    }

    .rightColumn {
        grid-column: span 3; /* Right column spans 3 columns */
    }
}

.leftColumn, .rightColumn {
    width: 100%; /* Ensure full width on smaller screens */
    height: auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
}

.image {
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
}

.connectWithMe {
    padding-top: 2rem;
}

.connectIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.icon {
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.formGroup {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.formInput {
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
}

.sendButton {
    width: 100%;
    padding: 1rem;
    background-color: #5651e5;
    color: #fff;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.sendButton:hover {
    background-color: #4a4eaa;
}

.backToTop {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.backToTopIcon {
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.backToTopIcon:hover {
    transform: scale(1.1);
}
