.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 0.5rem; 
  overflow: hidden; 
  transition: background 0.3s ease; /* Smooth transition for hover */
}

.container:hover {
  background: linear-gradient(to right, #5651e5, #709dff); 
}

.image {
  border-radius: 0.5rem; 
  transition: opacity 0.3s ease;
}

.container:hover .image {
  opacity: 0.1; 
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.container:hover .info {
  display: block;
}

.title {
  font-size: 1.5rem;
  color: white; 
  letter-spacing: 0.05em; 
}

.tech {
  padding-bottom: 1rem; 
  padding-top: 0.5rem; 
  color: white; 
}

.moreInfo {
  text-align: center;
  padding: 0.75rem; 
  border-radius: 0.5rem; 
  background-color: white;
  color: #4A5568; 
  font-weight: bold; 
  font-size: 1.125rem; 
  cursor: pointer;
  transition: background 0.3s ease;
}

.moreInfo:hover {
  background-color: #e2e8f0; 
}

/* Responsive  */
@media (max-width: 768px) {
  .title {
    font-size: 1.25rem; 
  }
  
  .tech {
    font-size: 0.875rem; 
  }
  
  .moreInfo {
    font-size: 1rem;
  }
}
