.projectsContainer {
    width: 100%;
  }
  
  .innerContainer {
    max-width: 1240px;
    margin: auto;
    padding: 2rem 1rem; 
  }
  
  .title {
    font-size: 1.25rem; 
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #5651e5;
  }
  
  .heading {
    padding: 1rem 0; 
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem; 
  }
 
.projectsContainer {
  width: 100%;
}

.innerContainer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 2rem 1rem; 
}



.sectionHeader {
  padding-top: 1rem; 
  padding-bottom: 1rem;

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 2rem; /* gap-8 */
}

  
  /* Responsive Styles */
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }

  
  
